@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #fffbef;
  background-image: url("../img/waves.svg"); 
  background-repeat: no-repeat;
  background-position:  top center;
  background-size:  cover;    
}

.rules {
  padding: 30px 10px;
  text-align: center;
  min-width: min-content;
}

.rules img {
  display: block;
  margin: 0 auto 30px;
}

.rules h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 32px;
}

.rules h3 {
  max-width: 520px;
  text-align: left;
  margin: 0 auto 15px;
  font-size: 16px;
  line-height: 20px;
}

.rules-list {
  padding: 0 20px 0 40px;
  margin: 0 auto 40px;
  list-style: none;
  font-size: 16px;
  line-height: 20px;
  max-width: 500px;
  text-align: left;
}

.rules-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.rules-list li::before {
  content: "";
  width: 10px;
  height: 12px;
  background-image: url("../img/marker.svg");
  background-position: center;
  background-repeat: no-repeat;
  flex: none;
}

.ico-button {
  padding: 10px 16px 10px 42px;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2e63b3;
  background-position: left 12px center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-sizing: border-box;
}

.ico-button:hover {
  background-color: #438eff;
}

.ico-button:active {
  background-color: #438eff;
}

.ico-button-fin {
  background-image: url("../img/fin.svg");
}

.ico-button-ger {
  background-image: url("../img/ger.svg");
}

.ico-button-ita {
  background-image: url("../img/ita.svg");
}

.rules .ico-button {
  margin-left: 5px;
  margin-right: 5px;
}

.game {
  min-inline-size: min-content;
  max-inline-size: 575px;
  display: grid;
  grid-template-columns: auto  1fr auto;
  align-items: center;
  gap: 30px;    
  margin-inline: auto;  
  padding-inline: 10px;
  padding-block: 30px;
}

.hit-points-indicator {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 0;
}

.hit-points-unused {
  width: 22px;
  height: 20px;
  background-image: url("../img/heart-red.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.hit-points-used {
  width: 22px;
  height: 20px;
  background-image: url("../img/heart-grey.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.progress-wrapper {
  display: flex;
  justify-self: center;
  width: 287px;
  height: 12px;
  background-color: #cfd7e4;
  background-image: repeating-linear-gradient(to right, #cfd7e4, #cfd7e4 46px, #fffbef 46px, #fffbef 48px);
  border-radius: 18px;
  overflow: hidden;
}

.progress {
  background-image: repeating-linear-gradient(to right, #2e63b2, #2e63b2 46px, #fffbef 46px, #fffbef 48px);
}

.cards {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.card {
  min-block-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;  
  background-color: #ffffff;
  border-radius: 10px;    
  font-size: 20px;
  line-height: 30px; 
  cursor: pointer;
  overflow: hidden;
}

.card img {
  inline-size: 100%;
  object-fit: cover;
}

.selected {
  outline: 4px solid #2e63b3;
}

.error {
  outline: 4px solid #cf1a1a;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

.card.disabled {
  cursor: default;
  animation: repaint 0.8s 0.2s forwards;
}

.card.disabled img {
  opacity: 0.25;
}

.card:not(.selected):not(.disabled):hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.button {
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2e63b3;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover {
  background-color: #438eff;
}

.button:active {
  background-color: #438eff;
}

.result {
  min-inline-size: min-content;
  padding-inline: 10px;
  padding-block: 30px;  
  text-align: center;
}

.result img {
  display: block;
  margin-inline: auto;
  margin-block: 0 30px;
}

.result h2 {
  margin: 0;
  margin-block-end: 30px;
  font-size: 24px;
  line-height: 32px;
}

.result-table {
  inline-size: 366px;  
  margin-inline: auto;
  margin-block: 0 30px;
  padding: 20px;  
  background-color: #ffffff;
  border-radius: 10px;
  border-collapse: collapse;
  font-size: 16px;
  line-height: 20px;
}

.result-table-row {
  display: grid;
  grid-template-columns: 95px 155px 75px;
  align-items: center;
  margin-inline: 20px;
  margin-block: 0 2px;  
}

.result-table-row th {
  padding-inline: 20px;
  padding-block: 30px 10px;  
  color: #cfd7e4;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
}

.result-table-row td {
  padding-inline: 20px;
  padding-block: 9px;
  text-align: left;
}

.result-table tbody tr:last-child {
  margin-block-end: 20px;
}

.result-table-row.active {  
  background-color: #ecf1f9;
  border-radius: 20px;
  font-weight: 700;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.6);
  overflow-y: hidden;
  overscroll-behavior: contain;
  pointer-events: auto;

  animation: fadeIn 0.8s 1.6s both;
}

.modal-box {
  position: relative;
  width: 260px;
  min-height: 200px;
  max-height: calc(100vh - 60px);
  padding: 0 0 40px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
}

.modal-caption {
  margin-top: -20px;
  margin-bottom: 10px;
  padding: 20px 20px 30px;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  background-image: url("../img/btn-green.svg");
  background-position: top center;
  background-repeat: no-repeat;
  max-height: 90px;
}

.modal-box-lose .modal-caption {
  background-image: url("../img/btn-red.svg");
  background-position: top center;
  background-repeat: no-repeat;
}

.modal-description {
  margin: 0;
  margin-bottom: 20px;
  padding: 0 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes repaint {
  from {
    transform: scale(1);
  }

  50% {
    color: #ffffff;
    transform: scale(1.05);
  }

  to {
    transform: scale(1);
    color: #ffffff;
    background-color: #cfd7e4;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

